@model JobAppManagement.Models.Applicant.ApplicantViewModel

@{
    ViewData["Title"] = "Job Application";
}

<h2>@ViewData["Title"]</h2>
<hr>

<form asp-action="ApplicantRegistration">

    <div class="mb-3">
        <label asp-for="FirstName" class="form-label"></label>
        <input type="text" class="form-control" asp-for="FirstName">
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="LastName" class="form-label"></label>
        <input type="text" class="form-control" asp-for="LastName">
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Gender" class="form-label"></label>
        <select asp-for="Gender" class="form-control">
            <option value="" selected hidden disabled>Select Gender</option>
            @foreach (var gender in Enum.GetValues(typeof(JobAppManagement.Data.Enum.Gender)))
            {
                <option value="@gender">@gender</option>
            }
        </select>
        <span asp-validation-for="StateId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input type="email" class="form-control" asp-for="Email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    
    <div class="mb-3">
        <label asp-for="PhoneNumber" class="form-label"></label>
        <input type="text" class="form-control" asp-for="PhoneNumber">
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="StateId" class="form-label"></label>
        <select asp-for="StateId" class="form-control">
            <option value="" selected hidden disabled>Select State</option>
            @foreach (var item in Model.States)
            {
                <option value="@item.Value">@item.Text</option>
            }
        </select>
        <span asp-validation-for="StateId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="JobId" class="form-label"></label>
        <select asp-for="JobId" class="form-control">
            <option value="" selected hidden disabled>Select Job</option>
            @foreach (var item in Model.Job)
            {
                <option value="@item.Value">@item.Text</option>
            }
        </select>
        <span asp-validation-for="JobId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Apply</button>
</form>